/.idea
/.vscode
*.log
*.tar.gz
.env
/runtime
/config/app.php
/config/database.php
/public/storage/
/public/backup/
/install/lock/
h5/unpackage/*
colorUI/unpackage/*
view/unpackage/*
view/.hbuilderx/*
view/.idea/*
/update/*
vendor/*
deploy.local.json
docs/deploy.local.md
优化计划.md
性能优化计划任务.md
数据库修改.md
管理端优化计划.md